// _footer.scss
@use "variables" as *;

footer {
  h2 {
    color: $secondary;
    text-align: center;
  }

  a {
    text-decoration: none;
  }
}

.ubicacion {
  width: 400px;
}

.social-icon {
  color: $primary;
  font-size: 32px;
  margin: 0 10px;
  transition: color 0.3s ease;
}
