@use "variables" as *;

// Animaciones
@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes latido {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.porcion {
  border-radius: 100%;
  background-color: $light-pink;
  width: 50px;
  height: 50px;
  animation: aparecer 0.6s ease-out;
  transition: transform 0.3s ease, filter 0.3s ease;

  &:hover {
    animation: latido 0.6s infinite;
    filter: brightness(1.1);
  }
}

.porcion-contenedor {
  background-color: $very-light-pink;
  padding: 10px;
}

.icono-porcion {
  width: 40px;
  height: 40px;
  filter: grayscale(100%) brightness(5);
  // transition: transform 0.3s ease;

  .porcion:hover & {
    transform: rotate(10deg);
  }
}

.texto-porcion {
  color: #fff;
  height: 10px;
  font-size: 9px;
  position: absolute;
  padding-top: 20px;
}
